body {
    min-height: 75rem;
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.nav_BB{
    background-color: #e3f2fd
}

.prateleira_impar{
    background-color: #f9faff
}

.prateleira_par{
    background-color: #ffffff
}

.BB_footer{
    background-color: #e3f2fd
}

.botao_footer{
    text-decoration: none; 
    font-weight: 500;
}

.card-body-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

h6.card-title{
    font-size: 30px;
    font-weight: 300;
}
h2.lead{
    font-size: 40px;
    margin-bottom: 0px;
    font-weight: 500;
}

.lista_par{
    background-color: #ffffff
}

.lista_impar{
    background-color: #f9faff
}

.aside{
    position: fixed;
    top: 40%;
    right: -40px;
    background-color: #DCDCDC;
    border-radius: 15px 0px 0px 15px;
    transition: ease 0.5s;
}
.aside:hover{
    right: 0px;
    transition: ease 0.5s;
}

.item:hover{
    color: #fff;
    background-color: #0d6efd;
}

.botao_dashboard {
    text-decoration: none;
}